@charset 'utf-8';

@import './variables';

@import '~bulma';

//@import '~vue-blu/src/scss/blu';

@import '~vue-blu/src/scss/elements/button';
@import '~vue-blu/src/scss/elements/form';
@import '~vue-blu/src/scss/elements/affix';
@import '~vue-blu/src/scss/elements/alert';
@import '~vue-blu/src/scss/elements/aside';
@import '~vue-blu/src/scss/elements/breadcrumb';
@import '~vue-blu/src/scss/elements/checkbox';
@import '~vue-blu/src/scss/elements/collapse';
@import '~vue-blu/src/scss/elements/datatable';
@import '~vue-blu/src/scss/elements/datepicker';
@import '~vue-blu/src/scss/elements/dropdown';
@import '~vue-blu/src/scss/elements/inputnumber';
@import '~vue-blu/src/scss/elements/menu';
@import '~vue-blu/src/scss/elements/modal';
@import '~vue-blu/src/scss/elements/notify';
@import '~vue-blu/src/scss/elements/pagination';
@import '~vue-blu/src/scss/elements/popconfirm';
@import '~vue-blu/src/scss/elements/popover';
@import '~vue-blu/src/scss/elements/progressbar';
@import '~vue-blu/src/scss/elements/radio';
@import '~vue-blu/src/scss/elements/scrollto';
@import '~vue-blu/src/scss/elements/step';
@import '~vue-blu/src/scss/elements/switch';
@import '~vue-blu/src/scss/elements/tab';
@import '~vue-blu/src/scss/elements/tag';
@import '~vue-blu/src/scss/elements/timeline';
@import '~vue-blu/src/scss/elements/tooltip';
@import '~vue-blu/src/scss/elements/select';

$fa-font-path: '~font-awesome/fonts/';
@import '~font-awesome/scss/font-awesome';

@import '~vue-blu/src/scss/animate';

html{
  overflow-x: visible;
  overflow-y: visible;
}


// Application Components
@import '00-loader';
@import '01-transitions';

@import 'components/app-container';
@import 'components/top-nav';
@import 'components/main-menu';
@import 'components/hero';
@import 'components/testimonials';
@import 'components/features';
@import 'components/footer';
@import 'components/search';



